### Example Dataset Tidying
#### Using EuroStat's Time Use Dataset (and possibly others)

Cleaning datasets consumes a large portion of a data scientist's time as we discussed in the notes. **Tidy data** is a concept developed by [Hadley Wickham](http://hadley.nz/). Wickham's paper introducing tidy data may be found [here](https://github.com/hadley/tidy-data/blob/master/tidy-data.tex). This concept provides a standardized way to view and use data. Data that has been tidied is easier to work with as tools are designed around the tidy format.

The **three principles** of tidy data are as follows (n.b. copied from Wickham's paper):
1.  Each variable forms a column.
2.  Each observation forms a row.
3.  Each type of observational unit forms a table.

I will provide some examples of tidying and preparing data using Python for practice and future reference in this notebook. The work here is not guaranteed to be perfect or the "best" examples on how to tidy data. Regardless, I hope this comes in handy to anyone who encounters it.

#### EuroStat's Time Use Dataset
[Official site](http://appsso.eurostat.ec.europa.eu/nui/show.do?dataset=tus_00week&lang=en)

[Copy I used](https://perso.telecom-paristech.fr/eagan/class/igr204/data/TimeUse.csv)

#### Loading and preprocessing the data
Let us jump right into the first example. We start by importing [Pandas](https://pandas.pydata.org/) and loading our dataset into a variable using the [pandas.read_csv()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) function.

In [1]:
import pandas as pd

timeuse_df = pd.read_csv("https://perso.telecom-paristech.fr/eagan/class/igr204/data/TimeUse.csv")

Our next step is to explore the data. Datasets often come in different shapes and sizes depending on how the data was collected as well as how the data was intended to be displayed. Practices that facilitate entering, observing, and storing data may differ from data that is shaped to be analyzed. We will see this with the Time Use dataset.

Datasets should always be poked and prodded in order to understand the shape of the data. Observing how many columns a dataset has, the amount of nulls, the data types, the representation of the data, violations of the tidy data principles, et cetera is imperative to **preprocessing and cleaning.** Exploring your dataset grants a visual of exactly what is broken and thus the tasks required to fix those problems.

Some of the [pandas.DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html) and [pandas.Series](https://pandas.pydata.org/pandas-docs/stable/reference/series.html) attributes and methods that are useful for exploring datasets include:
* [pandas.DataFrame.dtypes](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dtypes.html#pandas.DataFrame.dtypes)
* [pandas.DataFrame.columns](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.columns.html#pandas.DataFrame.columns)
* [pandas.DataFrame.info()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html#pandas.DataFrame.info)
* [pandas.DataFrame.head()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html#pandas.DataFrame.head)
* [pandas.DataFrame.tail()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.tail.html#pandas.DataFrame.tail)

_Note that the attributes and methods listed above are not exhaustive. Many of the DataFrame functions are also available for Series as well._

In [6]:
display(timeuse_df.head())
timeuse_df.info()

,SEX,GEO/ACL00,Total,Personal care,Sleep,Eating,Other and/or unspecified personal care,"Employment, related activities and travel as part of/during main and second job",Main and second job and related travel,Activities related to employment and unspecified employment,...,Unspecified leisure,Travel except travel related to jobs,Travel to/from work,Travel related to study,Travel related to shopping and services,Transporting a child,Travel related to other household purposes,"Travel related to leisure, social and associative life",Unspecified travel,Unspecified time use
0,Males,Belgium,24:00,10:45,8:15,1:49,0:42,3:07,3:05,0:02,...,0:01,1:30,0:25,0:02,0:16,0:03,0:00,0:15,0:30,0:01
1,Males,Bulgaria,24:00,11:54,9:08,2:07,0:39,3:32,3:27,0:04,...,0:01,1:07,0:23,0:00,0:12,0:01,0:06,0:21,0:03,0:02
2,Males,Germany (including former GDR from 1991),24:00,10:40,8:08,1:43,0:49,3:27,3:21,0:06,...,0:00,1:29,0:27,0:02,0:16,0:02,0:05,0:34,0:03,0:05
3,Males,Estonia,24:00,10:35,8:24,1:19,0:52,4:27,4:20,0:07,...,0:00,1:12,0:28,0:01,0:13,0:01,0:07,0:22,0:01,0:04
4,Males,Spain,24:00,11:11,8:36,1:47,0:48,4:21,4:17,0:03,...,0:00,1:16,0:31,0:02,0:07,0:02,0:03,0:28,0:02,0:02

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 58 columns):
SEX                                                                                28 non-null object
GEO/ACL00                                                                          28 non-null object
Total                                                                              28 non-null object
Personal care                                                                      28 non-null object
Sleep                                                                              28 non-null object
Eating                                                                             28 non-null object
Other and/or unspecified personal care                                             28 non-null object
Employment, related activities and travel as part of/during main and second job    28 non-null object
Main and second job and related travel                                             28 non-null object
Activities related to employment and unspecified employment                        28 non-null object
Study                                                                              28 non-null object
School and university except homework                                              28 non-null object
Homework                                                                           28 non-null object
Free time study                                                                    28 non-null object
Household and family care                                                          28 non-null object
Food management except dish washing                                                28 non-null object
Dish washing                                                                       28 non-null object
Cleaning dwelling                                                                  28 non-null object
Household upkeep except cleaning dwelling                                          28 non-null object
Laundry                                                                            28 non-null object
Ironing                                                                            28 non-null object
Handicraft and producing textiles and other care for textiles                      28 non-null object
Gardening; other pet care                                                          28 non-null object
Tending domestic animals                                                           28 non-null object
Caring for pets                                                                    28 non-null object
Walking the dog                                                                    28 non-null object
Construction and repairs                                                           28 non-null object
Shopping and services                                                              28 non-null object
Childcare, except teaching, reading and talking                                    28 non-null object
Teaching, reading and talking with child                                           28 non-null object
Household management and help family member                                        28 non-null object
Leisure, social and associative life                                               28 non-null object
Organisational work                                                                28 non-null object
Informal help to other households                                                  28 non-null object
Participatory activities                                                           28 non-null object
Visiting and feasts                                                                28 non-null object
Other social life                                                                  28 non-null object
Entertainment and culture                                                          28 non-null object
Resting                                                                            28 non-null object
Walking and hiking                                                                 28 non-null object
Sports and outdoor activities except walking and hiking                            28 non-null object
Computer games                                                                     28 non-null object
Computing                                                                          28 non-null object
Hobbies and games except computing and computer games                              28 non-null object
Reading books                                                                      28 non-null object
Reading, except books                                                              28 non-null object
TV and video                                                                       28 non-null object
Radio and music                                                                    28 non-null object
Unspecified leisure                                                                28 non-null object
Travel except travel related to jobs                                               28 non-null object
Travel to/from work                                                                28 non-null object
Travel related to study                                                            28 non-null object
Travel related to shopping and services                                            28 non-null object
Transporting a child                                                               28 non-null object
Travel related to other household purposes                                         28 non-null object
Travel related to leisure, social and associative life                             28 non-null object
Unspecified travel                                                                 28 non-null object
Unspecified time use                                                               28 non-null object
dtypes: object(58)
memory usage: 12.8+ KB

Wow! Two simple functions expose a glut of problems that would impede analysis for tools that require tidy data.

One major problem is that the data is **not tidy**. Each column is not a variable. We essentially have _five variables_: persons, sex, state, activity, and time. The activity variable is split into multiple columns. Well, multiple is a bit of a misnomer. Activity is split into **more than fifty columns**!

The next major problem is that the type information is entirely wrong. The values of the time variable are encoded as strings in the format **hours:minutes**. Analyzing data encoded in that way is impossible to analyze directly. Instead, the strings must be parsed and processed.

A few miscellaneous problems exist as well. The sex column's categories are listed as "Males" and "Females" which sounds clunky. The column title "GEO/ACL00" is egregious by the fact that is extremely annoying to type, code completion aside.

#### Melting Time Use
The function [pandas.melt](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.melt.html) solves our first major problem simply and effectively. Melting datasets collapses columns into variables and values. Melting a dataset may initially seem terrifying because of the radical changes that occur. However, the process is easy to grok once seen in action.

The melt function takes in a few arguments.
* id_vars: These are the columns melt won't touch. You can pass in a list of column names or a single column as a string.
* value_vars: This argument is the opposite of id_vars; any column passed to this will be melted. By default all columns not passed to id_vars are melted which is great for laziness!
* var_name: Name the new variable/column created from melting; "variable" by default.
* value_name: Name the column that holds the values from the melted columns; "value" by default.

So, melt collapses the columns passed to value_vars (or the columns _not_ passed to id_vars is value_vars is None). The column names becomes the values of the new column which is given the name passed to var_name. The values are the values from the value_vars columns which are matched to the var_name column. This is hard to explain and the concept was confusing at first. Keep the above in mind when looking at the melted DataFrame below.